/* root */
:root {
  --clr-white: #ffffff;
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(216, 15%, 48%);
  --clr-dark-blue: hsl(218, 44%, 22%);

  --ff: 'Outfit', 'Inter', sans-serif;
  --fs-body: 15px;
  --fw-400: 400;
  --fw-700: 700;
}

/* reset */
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw-400);
  font-size: var(--fs-body);
  color: var(--clr-grayish-blue);
  background: var(--clr-light-gray);
  
}

/* typography */
.title {
  font-size: 20px;
  font-weight: var(--fw-700);
  color: var(--clr-dark-blue);
  margin-bottom: 1rem;
}

.content {
  margin-bottom: 16px;
}

/* general layout */
.wrapper {
  display: flex;
  align-items: center;
  height: 100dvh;
}
/* general styles */
.card {
  text-align: center;
  max-width: 300px;
  margin-inline: auto;
  background: var(--clr-white);
  padding: 16px;
  border-radius: 18px;
}

.qr-image {
  margin-bottom: 1rem;
  border-radius: 8px;
}
